<div class="nav-bar" id="nav-bar">
  <!-- todo add click event for logo -->
  <div class="logo" id="logo">
    <div class="initials" id="initials">JP</div>
  </div>
  <nav class="nav-links">
    <a routerLink="/home">
      <img src="assets/home.png" alt="Home Logo" class="home-logo">
    </a>
    <a routerLink="/home">Home</a>
    <a routerLink="/resume">
      <img src="assets/resume-logo.png" alt="Resume Logo" class="nav-logo">
    </a>
    <a routerLink="/resume">Resume</a>
    <a routerLink="/person">
      <img src="assets/person.png" alt="Person Logo" class="person-logo">
    </a>
    <a routerLink="/person">About Me</a>
  </nav>
</div>

<router-outlet></router-outlet>
