<div id="home" class="home">
    <div id="profile-card" class="profile-card">
        <img id="profile-pic" class="profile-pic" src="/assets/profile-pic.jpeg" alt="Profile Picture">
        <h2>Joshua Porter</h2>
        <sub>Software Engineer</sub>
        <hr>
        <div id="details" class="details">
            <div>
                <small>Email:</small>
                <br>
                <small>Phone Number:</small>
            </div>
            <div>
                <small>porterjoshua1998@gmail.com</small>
                <br>
                <small>785-789-2315</small>
            </div>
        </div>
        <p>
            I am a software engineer with a passion for creating and maintaining software applications. I have experience with
            front-end and back-end technologies, and I am always looking to learn more. I am a quick learner and I am always
            looking to improve my skills.
        </p>
    </div>
    <div id="skills-card" class="skills-card">
        <div>
            <h2 id="skills-header" class="skills-header">My Skills</h2>
            <hr>
            <div id="angular" class="skill">
                
            </div>
            <div id="angular" class="skill">
                
            </div>
            <div id="angular" class="skill">
                
            </div>
            <div id="angular" class="skill">
                
            </div>
        </div>
    </div>
    
</div>